In [1]:
import os
import pandas as pd

# импортируем библиотеку для работы с картами
# from keplergl import KeplerGl

# Импорт собственных классов
from ParseLog import ParseLog
from PostgreSQL import PostgreSQL

# Импорт параметров для подключения к БД
from db_parameters import *

In [2]:
pg = PostgreSQL(
    host=HOST,
    database=DB,
    login=LOGIN,
    password=PASSWORD
)

In [3]:
list_filename = ['log/' + file for file in os.listdir('log')]

In [4]:
len(list_filename)

347

In [7]:
df_concat = pd.DataFrame(
    {
        'timestamp':[],
        'clid':[],
        'uuid':[],
        'route':[],
        'vehicle_type':[],
        'latitude':[],
        'longitude':[],
        'speed':[],
        'direction':[],
        'production':[],
        'garange_number':[],
        'reg_number':[],
        'route_descr':[]
    }
)

df_concat

Empty DataFrame
Columns: [timestamp, clid, uuid, route, vehicle_type, latitude, longitude, speed, direction, production, garange_number, reg_number, route_descr]
Index: []

In [13]:
%%time 

df_array = []
for file in list_filename:
    parser = ParseLog(file)
    df = parser.transform_df()
    df_array.append(df)

CPU times: user 5min 22s, sys: 4.31 s, total: 5min 26s
Wall time: 5min 28s

In [14]:
len(df_array)

347

In [ ]:
%%time

df = pd.concat(df_array)

df.head()

CPU times: user 8.56 s, sys: 24 s, total: 32.6 s
Wall time: 43.8 s

,timestamp,clid,uuid,route,vehicle_type,latitude,longitude,speed,direction,production,garange_number,reg_number,route_descr
0,2022-05-26 16:27:47,cherepovets,ak1456_2058,#,bus,59.128468,37.837383,24.98,326,0,,е440хк_35 [БВ (Н)],\n
1,2022-05-26 16:27:44,cherepovets,ak1456_1946,#27,bus,59.135483,37.864201,29.78,273,0,,е387хк_35 [БВ (Н)],27 []\n
2,2022-05-26 16:27:45,cherepovets,ak1456_2057,#12,bus,59.130859,37.984455,50.51,101,1,,е397хк_35 [БВ (Н)],12 [доменная - > - ул. олимпийская]\n
3,2022-05-26 16:27:43,cherepovets,ak1456_1878,#7,bus,59.127861,37.921082,0.00,0,1,,е386хк_35 [БВ (Н)],7 [ул. наседкина - > - ул. олимпийская]\n
4,2022-05-26 16:27:45,cherepovets,ak1456_1862,#18,bus,59.088779,37.913326,14.80,243,1,,е332хк_35 [БВ (Н)],18 [ул. рыбинская (2) -> пр. победы 2]\n

In [17]:
%%time

df.to_csv('data_cherepovets.csv',index=False)

CPU times: user 2min 22s, sys: 6.37 s, total: 2min 29s
Wall time: 2min 34s